/*  ==========================================================================
	Imports
	========================================================================== */

@import "partials/normalize";
@import "partials/base";
@import "partials/typography";
@import "partials/grids";
@import "partials/helpers";


/*  ==========================================================================
	Variables (http://sachagreif.com/sass-color-variables/)
	========================================================================== */

$black: #000;
$white: #fff;

$color-text:$black;
$color-link: $white;


/*  ==========================================================================
	Mixin
	========================================================================== */




/*  ==========================================================================
	Print style
	========================================================================== */

@media print {
	@import "print";
}

