/*  ==========================================================================
	Imports
	========================================================================== */

@import "base/variables";
@import "base/mixins";
@import "base/normalize";
@import "base/typography";
@import "base/grids";
@import "base/forms";
@import "base/buttons";
@import "base/placeholders";


*,
*:before,
*:after {
	box-sizing:border-box;
}

/* Remove text-shadow in selection highlight */
::selection {
 	background: #b3d4fc;
	text-shadow: none;
}


/* Remove the gap between images, videos, audio and canvas and the bottom of their containers */
audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}
/*  ==========================================================================
	My styles
	========================================================================== */










/*  ==========================================================================
	Print styles
	========================================================================== */

@media print {
	@import "base/print";
}
