/*  ==========================================================================
	Imports
	========================================================================== */

@import "partials/normalize";
@import "partials/base";
@import "partials/typography";
@import "partials/grids";
@import "partials/forms";
@import "partials/helpers";


/*  ==========================================================================
	Variables (http://sachagreif.com/sass-color-variables/)
	========================================================================== */

$black: #000;
$white: #fff;

$color-text:$black;
$color-link: $white;


/*  ==========================================================================
	Mixin
	========================================================================== */


/*  ==========================================================================
	Browse Happy prompt
	========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*  ==========================================================================
	Author's custom styles
	========================================================================== */

h1 {
	color:black;
}


/*  ==========================================================================
	Print style
	========================================================================== */

@media print {
	@import "partials/print";
}
