/*  ==========================================================================
	Imports
	========================================================================== */

@import "partials/variables";
@import "partials/mixins";
@import "partials/normalize";
@import "partials/typography";
@import "partials/grids";
@import "partials/forms";
@import "partials/buttons";
@import "partials/helpers";


/*  ==========================================================================
	My styles
	========================================================================== */

html,
button,
input,
select,
textarea {
	color: $color-text;
}

html {
	font-size: 1em;
	line-height: 1.4;
}


/* Remove text-shadow in selection highlight */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
 	background: #b3d4fc;
	text-shadow: none;
}


/* Remove the gap between images, videos, audio and canvas and the bottom of their containers */

audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}

.browsehappy {
	margin: 0.2em 0;
	padding: 0.2em 0;
	background: #ccc;
	color: #000;
}


/*  ==========================================================================
	Print styles
	========================================================================== */

@media print {
	@import "partials/print";
}
