@mixin unordered {
	 list-style-position: outside;
	 list-style-type: disc;
}

@mixin unordered-inside {
	 list-style-position: inside;
	 list-style-type: disc;
}

@mixin ordered {
	list-style-position: outside;
	list-style-type: decimal;
}

@mixin ordered-inside {
	list-style-position: inside;
	list-style-type: decimal;
}
