/*  ==========================================================================
	Variables (http://sachagreif.com/sass-color-variables/)
	========================================================================== */

$black: #000;
$white: #fff;

$color-text:$black;
$color-link: $white;